div.row input {
  margin-top: 10px;
}

div.row textarea {
  margin-top: 10px;
}

div.row label {
  font-size: .8em;
}

#map{
  height: 300px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
