div.row input {
  margin-top: 10px;
}

div.row textarea {
  margin-top: 10px;
}

div.row label {
  font-size: .8em;
}
div.new-trail {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3%;
  min-height: 2000px;
}
div.new-trail label {
  color: black;
}

/*#map{
  height: 300px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}*/

input::-webkit-input-placeholder {
color: #4f4f4f !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #4f4f4f !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #4f4f4f !important;
}

input:-ms-input-placeholder {
color: #4f4f4f !important;
}

textarea::-webkit-input-placeholder {
color: #4f4f4f !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #4f4f4f !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #4f4f4f !important;
}

textarea:-ms-input-placeholder {
color: #4f4f4f !important;
}
