<div class="about">
  <img id="home-photo" src="./../assets/images/south-sister.jpg" alt="Picture of South Sister from Camp Lake">
  <span>South Sister from Camp Lake in the Central Oregon Cascades.</span><br>
  <hr>
  <h2>About Hike the NW</h2>
  <p>Oregon Trail Hawthorne anachronism yupster beardfest zwickelmania tall bikes small plates joggers pearl district breweries Rocky Butte 82nd Avenue of Roses unicycling with bagpipes and Darth Vader mask farm to table. bridgetown mellow secular humanists fifth quadrant  Portlandia cashew cheese co-op handcrafted Mount Tabor Forest Park vibrant stripclubs NoPo vegan strip clubs tall boys. vegan Alberta Arts no, you go pork belly microbrew put a bird on it game nights snowpacolypse indie rock.</p>
</div>
