div.about {
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3%;
  min-height: 2000px;
}

div.about span {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 10px;
}
