div.trails-list {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3%;
  min-height: 2000px;
}
div.hikes-list h3 span:hover {
  background-color: rgba(181, 216, 164, 0.4);
  padding: 3px 20px 3px 6px;
  cursor: pointer;
  border-radius: 5px;
}
div.row-one {
  margin-top: 30px;
}
div.hikes-list {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3%;
  border-radius: 20px;
  margin-top: 20px;
}
button {
  margin-top: 40px;
}
