<app-map-display></app-map-display>  
<div class="trails-list">
  <div class="row-one">
    <div *ngFor="let trail of trails | async">
      <div class="hikes-list">
        <h3 (click)="goToDetailPage(trail)"><span>{{trail.name}}</span></h3>
        <p>{{trail.description}}</p>
      </div>
    </div>
    <div>

    </div>
  </div>
  <div class="row-two">
    <div>

    </div>
    <div>

    </div>
  </div>
  <div class="row-three">
    <div>

    </div>
    <div>

    </div>
  </div>
</div>
<!-- <div *ngIf="currentRoute === '/hikes-list'">
  <app-map-display></app-map-display>
</div> -->
