<div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper green darken-3 z-depth-4">
        <a href="#!" class="brand-logo">Hike the NW</a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="about">About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
<!-- <footer class="page-footer green darken-3 z-depth-4">
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer> -->
