<div class="navbar-fixed ">
    <nav>

      <div class="nav-wrapper light-green darken-4 z-depth-4">
        <a href="#!" class="brand-logo left">Hike the NW</a>

        <ul class="right ">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="about">About Us</a></li>
          <li><a routerLink="message-board">Forums</a></li>
          <li><a routerLink="login-email">Sign In</a></li>
          <li><a routerLink="hikes-list">Trail List</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
