div.hike-details {
  margin-top: 25px;
}

div.hike-details img {
  width: 400px;
  float: right;
  margin-left: 15px;
}

div.hike-details span.heavy {
  font-weight: 600;
}

#map{
  height: 300px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
