<div class="hike-details">
  <div id="map"></div>
  <img src="{{(trailToDisplay | async)?.picture}}" alt="Photo of trail">
  <h3>{{(trailToDisplay | async)?.name}}</h3>
  <!-- <h5>{{(trailToDisplay | async)?.intro}}</h5> -->
  <p>
    Region: <span class="heavy">{{(trailToDisplay | async)?.region}}</span><br>
    Difficulty: <span class="heavy">{{(trailToDisplay | async)?.difficulty}}</span><br>
    <!-- Elevation gain: {{(trailToDisplay | async)?.elevation}}<br> -->
    Distance: <span class="heavy">{{(trailToDisplay | async)?.length}}</span><br>
  </p>
  <span class="heavy">Details</span> <br>
  <p>{{(trailToDisplay | async)?.description}}</p><br>
  Location: {{(trailToDisplay | async)?.trailhead_location}}
</div>
