<div class="home-page">
  <h1>Welcome to Hike the Nor<span></span>thwest</h1>
  <div class="row">
    <div class="col s4">
      <h4>We're all about hiking in the Pacific Northwest</h4>
      <p>Oregon Trail Hawthorne anachronism yupster beardfest zwickelmania tall bikes small plates joggers pearl district breweries Rocky Butte 82nd Avenue of Roses unicycling with bagpipes and Darth Vader mask farm to table. bridgetown mellow secular humanists fifth quadrant Portlandia cashew cheese co-op handcrafted Mount Tabor Forest Park vibrant NoPo vegan strip clubs tall boys.</p>
      <p>Rocky Butte 82nd Avenue of Roses unicycling with bagpipes and Darth Vader mask farm to table. bridgetown mellow secular humanists fifth quadrant Portlandia cashew cheese co-op handcrafted Mount Tabor Forest Park vibrant NoPo vegan tall boys. Oregon Trail Hawthorne anachronism yupster beardfest zwickelmania tall bikes small plates joggers pearl district breweries.</p>
    </div>
    <div class="col s8">
      <img id="home-photo" src="./../assets/images/mt-hood.jpg" alt="Picture of Oregon mountain reflecting in lake">
      <span>Mt. Hood gives Mirror Lake its iconic status.</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 regions">

    </div>
  </div>
  <div>
    <app-map-display></app-map-display>
  </div>
</div>
